<!-- billing/templates/bills.html -->
{% extends 'base/base.html' %}

{% block body %}
    <h2>All Bills</h2>
    <table>
        <thead>
            <tr>
                <th>Bill ID</th>
                <th>Customer</th>
            </tr>
        </thead>
        <tbody>
            {% for bill in bills %}
                <tr>
                    <td><a href="{% url 'billing:detailed_bill' bill.bill_id %}">{{ bill.bill_id }}</a></td>
                    <td>{{ bill.customer }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No bills found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination">
        <span class="step-links">
            {% if bills.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ bills.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ bills.number }} of {{ bills.paginator.num_pages }}.
            </span>

            {% if bills.has_next %}
                <a href="?page={{ bills.next_page_number }}">next</a>
                <a href="?page={{ bills.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
