/* @import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap"); */

:root {
	--green: #1de9b6;
	--box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 36px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
	--box-shadow-focus: 0 0 0 0 #fff inset, var(--green) 0 0 0 2px;
	--box-shadow-hover: 0 0 0.25rem #1de9b696, -0.125rem -0.125rem 1rem #1de9b696, 0.125rem 0.125rem 1rem #1de9b696;
	--green-dark: green;
	--light-green-1: hsla(147, 98%, 47%, 0.08);
	--light-green-2: hsla(147, 98%, 47%, 0.14);
	--button: linear-gradient(to bottom right, #1de9b6, #1de949);
	--button-active: linear-gradient(to bottom right, #1de949, #1de9b6);
	--border-radius: 7px;
	--border-radius-btn: 12px;
	--black: black;
	--white: #fff;
	--input-bg: rgba(0, 0, 0, 0);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Reddit Mono", monospace;
}

img {
	font-style: italic;
}

.logo {
	display: flex;
	justify-content: center;
	margin: 30px 0;
}

.details {
	margin: 60px 2%;
}

.user_details {
	display: flex;
	justify-content: space-between;
	gap: 5%;
}

input {
	border: 0;
	background: var(--input-bg);
	appearance: none;
	min-width: 100px;
	width: 100%;
	border-radius: var(--border-radius);
	padding: 14px 18px;
	line-height: 1.4;
	color: var(--black);
	font-weight: 400;
	height: 2.5rem;
	transition: all 0.2s ease;
	box-shadow: var(--box-shadow);
}

input::placeholder {
	font-size: 0.825em;
	opacity: 1;
}

input:focus {
	box-shadow: var(--box-shadow-focus);
	background: var(--white);
	outline: 0;
}

/* Remove arrows in most browsers */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

label {
	margin-bottom: 15px;
	position: relative;
}

span {
	position: absolute;
	top: -17px;
	left: 10px;
	transform: translateY(30px);
	font-size: 0.825em;
	transition-duration: 300ms;
}

label:focus-within > span,
input:not(:placeholder-shown) + span {
	color: var(--green-dark);
	transform: translateY(0px);
}

.products {
	margin-top: 2rem;
}

.products * {
	margin: 10px 0;
}

.product-inputs {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5%;
}

#productSearch {
	height: 3.5rem;
	padding-left: 20px;
	font-size: 1.2rem;
}

#dropdownuser,
#dropdown {
	position: absolute;
	max-height: 200px;
	height: 3rem;
	max-width: 40%;
	width: 500px;
	border-radius: 7px;
	background-color: var(--white);
	display: none;
}

#dropdownuser *,
#dropdown * {
	margin: 0;
	box-shadow: var(--green) 0px 0px 0px 2px;
	border-radius: var(--border-radius);
	height: 100%;
	width: 100%;
	background-color: var(--white);
	cursor: pointer;
	align-items: center;
	padding-left: 20px;
	margin-bottom: 3.5px;
	display: flex;
}

#dropdownuser *:hover,
#dropdown *:hover {
	background-color: #dad8d8;
}

button {
	background: var(--button);
	border: 0;
	border-radius: var(--border-radius-btn);
	color: var(--white);
	cursor: pointer;
	display: inline-block;
	font-weight: 500;
	line-height: 2.5;
	outline: transparent;
	padding: 0 1rem;
	text-align: center;
	text-decoration: none;
	transition: box-shadow 0.2s ease-in-out;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
}

button:active {
	background: var(--button-active);
}

button:not([disabled]):hover {
	box-shadow: var(--box-shadow-hover);
}

#checkout {
	display: none;
	float: right;
	margin: 50px 0 38vh 0;
	width: 250px;
	padding: 10px;
}

.cart {
	margin: 70px 30px;
}

table {
	width: 100%;
	table-layout: fixed;
	border: 1px solid var(--black);
	border-collapse: collapse;
	text-align: left;
	border-radius: var(--border-radius);
	border: 0;
	box-shadow: var(--box-shadow);
}

thead {
	text-align: left;
	font-weight: 500;
}

th {
	padding: 20px 15px;
	text-transform: uppercase;
}

tr:nth-child(odd) {
	background-color: var(--light-green-1);
}

tr:nth-child(even) {
	background-color: var(--light-green-2);
}

th:first-child,
td:first-child {
	width: 5%;
}

td {
	padding: 15px;
	text-align: left;
	vertical-align: middle;
}

td button {
	width: 100%;
}

td button:not([disabled]):hover {
	width: 100%;
	box-shadow: none;
}

td button:not([disabled]):active {
	background: var(--button-active);
}

tfoot * {
	background-color: transparent !important;
}

tfoot tr td:first-child {
	text-align: end;
}

/* tfoot tr:nth-child(2){
	text-align: left;
} */